/*窗口标题栏*/
QLabel#TitleContent
{
    color: #FFFFFF;
}

/*最小化按钮*/
QPushButton#ButtonMin
{
    border-image:url(:/MyTitle/min.png) 0 81 0 0 ;
}

QPushButton#ButtonMin:hover
{
    border-image:url(:/MyTitle/min.png) 0 54 0 27 ;
}

QPushButton#ButtonMin:pressed
{
    border-image:url(:/MyTitle/min.png) 0 27 0 54 ;
}

/*最大化按钮*/
QPushButton#ButtonMax
{
    border-image:url(:/MyTitle/max.png) 0 81 0 0 ;
}

QPushButton#ButtonMax:hover
{
    border-image:url(:/MyTitle/max.png) 0 54 0 27 ;
}

QPushButton#ButtonMax:pressed
{
    border-image:url(:/MyTitle/max.png) 0 27 0 54 ;
}

/*还原按钮*/
QPushButton#ButtonRestore
{
    border-image:url(:/MyTitle/restore.png) 0 81 0 0 ;
}

QPushButton#ButtonRestore:hover
{
    border-image:url(:/MyTitle/restore.png) 0 54 0 27 ;
}

QPushButton#ButtonRestore:pressed
{
    border-image:url(:/MyTitle/restore.png) 0 27 0 54 ;
}

/*关闭按钮*/
QPushButton#ButtonClose
{
    border-image:url(:/MyTitle/close.png) 0 81 0 0 ;
    border-top-right-radius:3 ;
}

QPushButton#ButtonClose:hover
{
    border-image:url(:/MyTitle/close.png) 0 54 0 27 ;
    border-top-right-radius:3 ;
}

QPushButton#ButtonClose:pressed
{
    border-image:url(:/MyTitle/close.png) 0 27 0 54 ;
    border-top-right-radius:3 ;
}
